@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    font-size: .875rem !important;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

.foto-paciente-sm {
    width: 40px;
}

.alta {
    color: brown;
}

.espera {
    color: red;
}

.tratamiento {
    color: green;
}

.evaluacion {
    color: blue;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 74% !important;
}

.w-50 {
    width: 48% !important;
}

.w-25 {
    width: 24% !important;
}

.mr-4 {
    margin-right: 4%;
}

.mr-2 {
    margin-right: 2% !important;
}