@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    font-size: .875rem !important;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

.foto-paciente-sm {
    width: 40px;
}

.alta {
    color: brown;
}

.espera {
    color: red;
}

.tratamiento {
    color: green;
}

.evaluacion {
    color: blue;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 74% !important;
}

.w-50 {
    width: 48% !important;
}

.w-25 {
    width: 24% !important;
}

.mr-4 {
    margin-right: 4%;
}

.mr-2 {
    margin-right: 2% !important;
}

.m-a {
    margin: auto;
}

.principal-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.form-principal {
    width: 75%;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 1;
    order: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container>* {
    width: 100%;
}

.text-center {
    text-align: center;
}